[Unit]
Description=cbox-bot

[Service]
User=${UNPRIVILEGED_USER}
WorkingDirectory=${PATH_TO_PROJECT}
ExecStart=${PATH_TO_VIRTUALENV}/bin/python src/bot.py

[Install]
WantedBy=multi-user.target
